.wrapper {
}

.title {
    display: block;
    text-align: left;
    padding-left: 16px;
    margin-bottom: 4px;

    text-decoration: underline;
}

.list-year {
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
    margin-top: 8px;
}

.year {
    display: block;
    margin-right: 20px;

    font-size: 1.8rem;
}
.select {
    padding: 4px;
    border-radius: 2px;

    &:hover {
        cursor: pointer;
    }
}

.item-year {
}
