.wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 500px;
    margin-top: 8px;

    background-color: #ccc;
    overflow-y: auto;
}

.title {
}

.container {
}
